<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<div class="p-grid">
    <div class="p-col-12 p-md-1 p-lg-4"></div>
    <div class="p-col-12 p-md-8 p-lg-4">
        <div class="output">
            <div class="previous-operand">
                {{ previousOperand | currency :'IDR':'' | noDecimal }}
            </div>
            <div class="current-operand">
                {{ (currentOperand.split('.')[0] | number).concat(this.displayDecimal) }}
            </div>
        </div>
        <div class="p-grid p-mt-0">
            <div class="p-col-12 p-md-12 p-lg-12">
                <button pButton pRipple class="p-button-raised p-button-warning" type="button" style="width: 37.5%;"
                    label="AC" (click)=allClear()></button>
                <button pButton pRipple class="p-button-raised p-button-warning" type="button" style="width: 37.5%;"
                    label="DEL" (click)="deleteLastNum()"></button>
                <button pButton pRipple class="p-button-raised p-button-text" type="button" label="÷"
                    (click)="operationBtn('÷')"></button>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <button pButton pRipple type="button" class="p-button-raised p-button-secondary p-button-text" label="1"
                    (click)="getNumberValue('1')"></button>
                <button pButton pRipple type="button" class="p-button-raised p-button-secondary p-button-text" label="2"
                    (click)="getNumberValue('2')"></button>
                <button pButton pRipple type="button" class="p-button-raised p-button-secondary p-button-text" label="3"
                    (click)="getNumberValue('3')"></button>
                <button pButton pRipple type="button" class="p-button-raised p-button-text" label="*"
                    (click)="operationBtn('x')"></button>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <button pButton pRipple class="p-button-raised p-button-secondary p-button-text" type="button" label="4"
                    (click)="getNumberValue('4')"></button>
                <button pButton pRipple class="p-button-raised p-button-secondary p-button-text" type="button" label="5"
                    (click)="getNumberValue('5')"></button>
                <button pButton pRipple class="p-button-raised p-button-secondary p-button-text" type="button" label="6"
                    (click)="getNumberValue('6')"></button>
                <button pButton pRipple class="p-button-raised p-button-text" type="button" label="+"
                    (click)="operationBtn('+')"></button>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <button pButton pRipple class="p-button-raised p-button-secondary p-button-text" type="button" label="7"
                    (click)="getNumberValue('7')"></button>
                <button pButton pRipple class="p-button-raised p-button-secondary p-button-text" type="button" label="8"
                    (click)="getNumberValue('8')"></button>
                <button pButton pRipple class="p-button-raised p-button-secondary p-button-text" type="button" label="9"
                    (click)="getNumberValue('9')"></button>
                <button pButton pRipple class="p-button-raised p-button-text" type="button" label="-"
                    (click)="operationBtn('-')"></button>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <button pButton pRipple class="p-button-raised p-button-text" type="button" label="."
                    (click)="getNumberValue('.')"></button>
                <button pButton pRipple class="p-button-raised p-button-secondary p-button-text" type="button" label="0"
                    (click)="getNumberValue('0')"></button>
                <button pButton pRipple class="p-button-raised p-button-warning" style="width: 50%;" type="button"
                    label="=" (click)="equalsBtn()"></button>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-1 p-lg-4">
    </div>
</div>


<!-- contoh -->
<!-- <div class="calculator-grid">
    <div class="output">
        <div data-previous-operand class="previous-operand">
        </div>
        <div data-current-operand class="current-operand">
        </div>
    </div>
    <button data-all-clear class="span-two">AC</button>
    <button data-delete>DEL</button>
    <button data-operation>:</button>
    <button data-number>1</button>
    <button data-number>2</button>
    <button data-number>3</button>
    <button data-operation>*</button>
    <button data-number>4</button>
    <button data-number>5</button>
    <button data-number>6</button>
    <button data-operation>+</button>
    <button data-number>7</button>
    <button data-number>8</button>
    <button data-number>9</button>
    <button data-operation>-</button>
    <button data-number>.</button>
    <button data-number>0</button>
    <button data-equals class="span-two">=</button>
</div> -->